fastapi
uvicorn
requests
PyMuPDF
lancedb
sentence-transformers
groq
dotenv
python-multipart
torch
easyocr
pdfplumber
pillow
gunicorn
attrs
fuzzywuzzy
tiktoken
git+https://github.com/brandonstarxel/chunking_evaluation
